<div>

<div class=well>
  <!--put logo here -->
</div>
<style>

body {
background: url(/views/images.jpg);
}

#current{
  position:absolute;

  top: -20;
    right: 0;
}
#current .comment{
  color:black;
}

.com { width: 300px; height: 75px }

</style>

			<div class="col-md-8 col-sm-12" ng-repeat="item in places" >

<font color="white">
          <ul>LOCATION:{{item.address}}</ul>
			   <ul>RATING:{{item.rating}}</ul>
			   <ul>SAFETY-RATING:{{item.numberOfSafetyRating}}</ul>
			   <ul>GENERAL-RATING:{{item.numberOfGenRating}}</ul>
			   <ul>DESCRIPTION:{{item.description}}</ul>
         <ul>COMMENTS:</ul>
				 <ul ng-repeat="comment in item.comments">
						<ul>{{comment.description}}</ul>
				 </ul>
</font>
<hr>

			</div>

<br>
			<div class="col-md-4 col-sm-12" ng-repeat="item in details" id="current">
<font color="white">
        <ul>LOCATION:{{item.address}}</ul>
			   <ul>RATING:{{item.rating}}</ul>
			   <ul>SAFETY-RATING:{{item.numberOfSafetyRating}}</ul>
			   <ul>GENERAL-RATING:{{item.numberOfGenRating}}</ul>
			   <ul>DESCRIPTION:{{item.description}}</ul>
			   <ul ng-repeat="comment in item.comments">
			   	  <ul>{{comment.description}}</ul>
			   </ul>
         <ul>RATE:</ul>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type=radio name="rate" value=1 ng-model="rating">&nbsp; 1
        <input type=radio name="rate" value=2 ng-model="rating">&nbsp; 2

        <input type=radio name="rate" value=3 ng-model="rating">&nbsp; 3
        <input type=radio name="rate" value=4 ng-model="rating">&nbsp; 4
        <input type=radio name="rate" value=5 ng-model="rating">&nbsp; 5

        <ul>SAFETY-RATE:</ul>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type=radio name="rate1" value=1 ng-model="srating">&nbsp; 1
        <input type=radio name="rate1" value=2 ng-model="srating">&nbsp; 2

        <input type=radio name="rate1" value=3 ng-model="srating">&nbsp; 3
        <input type=radio name="rate1" value=4 ng-model="srating">&nbsp; 4
        <input type=radio name="rate1" value=5 ng-model="srating">&nbsp; 5

<br>
      	<form ng-submit="addComment()" class="comment">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <textarea ng-model="comment.newcomment" maxlength=200 class="com"></textarea>

					<input type="submit" />
				</form>

      </font>
      </div>



		</div>
